@import '../../styles/variables';
@import '../../styles/mixins';

.radio {
  @include base-radio-button;

  &:checked {
    border-color: $color-black-solid;

    &::after {
      display: block;
    }
  }

  &LabelContainer {
    display: flex;
    flex-direction: column;
  }

  &Label {
    @include font-style(no1);

    line-height: normal; // normalize line-height for cross browser + font casing
    cursor: pointer;
    z-index: 1;
  }

  &Tooltip {
    @include font-style(small);

    display: inherit;
  }

  &__disabled {
    background-color: $color-black-10;
  }
}

.radioGroup {
  $radio-gap: 12px;

  gap: $radio-gap;
  display: flex;

  .container {
    display: flex;
    flex-direction: row;
    gap: $radio-gap;
  }

  @mixin radioColor($selected-color) {
    .radio::after {
      background-color: $selected-color;
      border-color: $selected-color;
    }
  }

  @mixin radioRow {
    flex-direction: row;
  }

  @mixin radioColumn {
    flex-direction: column;
  }

  &__red {
    @include radioColor($color-red);
  }

  &__blue {
    @include radioColor($color-blue);
  }

  &__black {
    @include radioColor($color-black);
  }

  &__cobalt {
    @include radioColor($color-cobalt);
  }

  &__error {
    color: $color-red;
    border-color: $color-red;

    .container {
      border-color: $color-red;
    }

    .radio::after {
      border-color: $color-red;
      background-color: $color-red;
    }
  }

  &__inactive * {
    @include radioColor($color-inactive);

    color: $color-inactive;
    cursor: no-drop;

    .radio {
      pointer-events: none;
    }
  }

  &__overload {
    @include sm {
      @include radioColumn;
    }

    @include min-sm {
      @include radioRow;
    }
  }

  &__row {
    @include radioRow;
  }

  &__column {
    @include radioColumn;
  }
}

.buttonGroup {
  $border-size: 2px;
  $outline-color: $color-black-20;

  display: flex;
  align-items: stretch;
  background-color: $color-white;
  border: $border-size solid $outline-color;
  width: fit-content;
  height: fit-content;
  position: relative;

  label {
    @include font-style(small);
  }

  @mixin buttonColor($selected-color) {
    border-color: $selected-color;

    * {
      border-color: $selected-color !important;
      color: $selected-color;
    }

    .radio::after {
      background-color: $selected-color;
      border-color: $selected-color;
    }
  }

  @mixin buttonRow {
    flex-direction: row;

    & > * {
      border-right: $border-size solid $outline-color;
    }
  }

  @mixin buttonColumn {
    flex-direction: column;

    & > * {
      border-bottom: $border-size solid $outline-color;
    }
  }

  &__red {
    @include buttonColor($color-red);
  }

  &__blue {
    @include buttonColor($color-blue);
  }

  &__black {
    @include buttonColor($color-black);
  }

  &__error {
    color: $color-red;
    border-color: $color-red;

    .container {
      border-color: $color-red;
    }

    .radio::after {
      border-color: $color-red;
      background-color: $color-red;
    }
  }

  &__inactive * {
    @include buttonColor($color-inactive);

    color: $color-inactive;
    cursor: no-drop;

    .radio {
      pointer-events: none;
    }
  }

  &__overload {
    @include sm {
      @include buttonColumn;
    }

    @include min-sm {
      @include buttonRow;
    }
  }

  &__row {
    @include buttonRow;
  }

  &__column {
    @include buttonColumn;
  }

  & > *:last-child {
    border: none;
  }

  @include sm {
    width: 100%;

    & > * {
      flex-grow: 1;
    }
  }

  .radio {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0;
    position: absolute;
    border: none;
    left: 0;
    border-radius: 0;

    &::after {
      border-width: $border-size;
      box-sizing: content-box;
      border-style: solid;
      border-radius: 0;
      margin: -$border-size;
    }
  }

  .container {
    min-width: 137px;
    min-height: 48px;
    justify-content: center;
    color: $color-black-solid;
    position: relative;
    display: flex;
    align-items: center;

    .radio:checked + div > label {
      color: $color-white;
    }
  }
}
