@ampol:registry=https://caltexau.pkgs.visualstudio.com/_packaging/ADS/npm/registry/
registry=https://registry.npmjs.org/

always-auth=false

; begin auth token
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/registry/:username=caltexau
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/registry/:_password=${NPM_AUTH_TOKEN}
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/registry/:email=npm requires email to be set but doesn't use the value
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/:username=caltexau
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/:_password=${NPM_AUTH_TOKEN}
//caltexau.pkgs.visualstudio.com/8fd6b825-6707-4031-89ee-5c5eab99778b/_packaging/ampol-design-system/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

# help avoid annoying warnings in newer versions of npm
legacy-peer-deps=true
