@import '../../../styles/variables';
@import '../../../styles/mixins';

$subheading-margin-top: 66px;
$subheading-margin-bottom: 21px;

.subheading {
  @include content-block-container;
  @include content-block-inner;

  margin-bottom: $subheading-margin-bottom;
  margin-top: $subheading-margin-top;

  &Headline {
    @include font-style(h2);

    margin: 0 0 var(--spacing-s);

    .block__accent & {
      color: $color-accent;
    }
  }
}

.block {
  @include content-block(centered);
}

.divider {
  border-color: var(--ampol-black-20);
  border-style: solid;
  border-width: 1px 0 0;
  margin: var(--spacing-m) 0 0;
}
