:root {
  --ampol-red: #ed0c06;
  --ampol-red-60: #f46d6a;
  --ampol-red-30: #f9b6b4;
  --ampol-red-10: #fde6e6;
  --ampol-red-hover: #c90a05;
  --ampol-blue: #18249c;
  --ampol-blue-60: #747cc4;
  --ampol-blue-30: #b9bde1;
  --ampol-blue-10: #e7e9f5;
  --ampol-blue-hover: #141e84;
  --ampol-black: #222;
  --ampol-black-60: #636363;
  --ampol-black-30: #949494;
  --ampol-black-20: #b8b8b8;
  --ampol-black-10: #dbdbdb;
  --ampol-black-hover: #424242;
  --ampol-cobalt: #1860d8;
  --ampol-cobalt-hover: #0848b6;
  --black-solid: #000;
  --light-grey: #f4f4f4;
  --white: #fff;
  --blue-active: #004bff;
  --background-light: #f6f6f6;
  --accent: var(--ampol-cobalt);
  --spacing-xxs: 6px;
  --spacing-xs: 12px;
  --spacing-s: 18px;
  --spacing-m: 24px;
  --spacing-l: 30px;
  --spacing-xl: 45px;
  --content-gutter-sm: 16px;
  --content-gutter-md: var(--spacing-m);
  --content-gutter-lg: 45px;
  --content-gutter-xl: 90px;
  --content-max-width: 1440px;
  --content-inset-max-width: 1030px;
  --page-gutter-sm: var(--content-gutter-sm);
  --page-gutter-md: var(--content-gutter-md);
  --page-gutter-lg: var(--page-gutter-lg);
}
