$color-red: var(--ampol-red);
$color-red-hover: var(--ampol-red-hover);
$color-red-10: var(--ampol-red-10);
$color-red-30: var(--ampol-red-30);
$color-red-60: var(--ampol-red-60);

$color-blue: var(--ampol-blue);
$color-blue-hover: var(--ampol-blue-hover);
$color-blue-10: var(--ampol-blue-10);
$color-blue-30: var(--ampol-blue-30);
$color-blue-60: var(--ampol-blue-60);

$color-black: var(--ampol-black);
$color-black-hover: var(--ampol-black-hover);
$color-black-10: var(--ampol-black-10);
$color-black-20: var(--ampol-black-20);
$color-black-30: var(--ampol-black-30);
$color-black-60: var(--ampol-black-60);

$color-cobalt: var(--ampol-cobalt);
$color-cobalt-hover: var(--ampol-cobalt-hover);

$color-black-solid: var(--black-solid);
$color-light-grey: var(--light-grey);
$color-white: var(--white);
$color-blue-active: var(--blue-active);

$color-accent: var(--accent);
$color-inactive: #b5b5b5;
$color-indicators: #2f2f2f;
$color-background-light: var(--background-light);
