@import '../../styles/variables';
@import '../../styles/mixins';

.stuck {
  position: fixed;
  z-index: $z-index-sticky;
  left: 0;
  bottom: 0;
  padding: $spacing-m;
  width: 100% !important;
  box-sizing: border-box;
  border-top: 1px solid rgb(34 34 34 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  gap: $spacing-xs;

  @include sm {
    flex-direction: column;
    padding: $spacing-s;
    gap: $spacing-s;

    & > * {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
}
